@{
    ViewData["Title"] = "新增報告";
}

<h2>工作報告系統</h2>

<form method="post">

    客戶：
    <input type="text" name="Customer" />
    <br /><br />

    類型：
    <select name="Type">
        <option>打樣</option>
        <option>DEMO</option>
    </select>
    <br /><br />

    設備種類：
    <input type="text" name="Equipment" />
    <br /><br />

    內容：
    <textarea name="Content" style="width:300px;height:100px;"></textarea>
    <br /><br />

    負責人：
    <input type="text" name="Owner" />
    <br /><br />

    <button type="submit">送出</button>

</form>

<br />
<a href="/Report">回列表</a>